<div class="w-50 m-auto my-5">
    <h4>Edit Blog</h4>
           <form class="edit-blog-form" >
          
          <div class="form-outline mb-4">
            <input type="text" name="blog-title" value="{{blog.title}}" class="form-control" />
            <label class="form-label" for="blog-title">Title</label>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea class="form-control" id="blog-text" name="blog-text" rows="4">{{blog.blog_text}}</textarea>
            <label class="form-label" for="blog-text">Blog Entry</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary">
           Save Blog
          </button>
          <!-- Submit button -->
          <button type="button" class="btn btn-danger">
           Delete Blog
          </button>
        </form>
        {{!-- end  --}}
</div>

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>