<div>
    <h4 class="text-center my-5" >Login Form</h4>
</div>
<div class="w-50 m-auto" >
    <form class="login-form">
   
      <div class="form-outline mb-4">
        <input type="text" id="user-login" class="form-control" />
        <label class="form-label" for="user-login">Email or Username:</label>
      </div>

      <div class="form-outline mb-4">
        <input type="password" id="password-login" class="form-control" />
        <label class="form-label" for="password-login">Password:</label>
      </div>

      <button id="submit-form" type="submit" class="btn btn-primary btn-block mb-4">
        Login
      </button>
      
</form>
</div>
&nbsp;
<hr>
<div>
    <h4 class="text-center" >Signup Form</h4>
</div>
<div class="w-50 m-auto" >
    <form class="signup-form">

    <div class="form-outline mb-4">
        <input type="text" id="user-signup" class="form-control" />
        <label class="form-label" for="user-signup">Email or Username:</label>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="password-signup" class="form-control" />
        <label class="form-label" for="password-signup">Password:</label>
    </div>

    <button id="submit-form" type="submit" class="btn btn-default btn-block mb-4">
        Signup
      </button>

</form>
</div>


<script src="/javascript/login.js"></script>